

[Desktop Entry]
Name=Neovim (Kitty)
Comment=Edit text files with Neovim inside kitty terminal
Exec=kitty -e nvim %F
Terminal=false
Type=Application
MimeType=text/plain;
Icon=vim
Categories=Utility;TextEditor;
StartupNotify=true
