* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font", "monospace";
    font-weight: normal;
    font-size: 12px;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
    transition: none;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0.9;
    border-radius: 30px;
    border: 1px solid #ffffff;
}

tooltip {
    opacity: 0.8;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label {
    color: #cdd6f4;
}

/* ---------------------------
   Workspaces
--------------------------- */
#workspaces {
    padding-left: 5px;
}

#workspaces button {
    color: #ffffff;
    background: transparent;
    padding: 0 8px;
    margin: 0 3px;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: #ffffff;
    border-bottom: 2px solid #88c0d0; /* light blue */
}

#workspaces button:hover {
    color: #a3be8c; /* light green */
    background: transparent;
    border-bottom: 2px solid #a3be8c; /* highlight on hover */
}

/* ---------------------------
   Common hover underline for icons
--------------------------- */
#window:hover,
#cpu:hover,
#disk:hover,
#memory:hover,
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#tray:hover,
#temperature:hover,
#bluetooth:hover,
#backlight:hover,
#custom-gpu-usage:hover,
#custom-gpu-temp:hover,
#custom-appmenu:hover {
    border-bottom: 2px solid #88c0d0; /* subtle light blue underline */
}

/* ---------------------------
   Layout
--------------------------- */
#window,
#cpu,
#disk,
#memory,
#clock,
#battery,
#pulseaudio,
#tray,
#temperature,
#workspaces,
#bluetooth,
#backlight,
#custom-gpu-usage,
#custom-gpu-temp {
    margin-right: 16px;
}

#window {
    margin-right: 20px;
}

#cpu {
    margin-left: 12px;
}

#custom-appmenu {
    margin-left: 16px;
    font-size: 20px; /* Increase icon size */
    color: #1793d1;  /* Arch Linux color */
}

/* ---------------------------
   Color accents
--------------------------- */
#battery {
    color: #02C39A;
}

#battery.warning {
    color: #fdfd96;
}

#battery.critical {
    color: #ff6961;
}

#temperature.critical {
    color: #e92d4d;
}


#backlight,
#pulseaudio {
    color: #89b4fa;
}

#bluetooth {
    color: #a6e3a1;
}

#custom-gpu-usage {
    color: #f38ba8;
}

#custom-gpu-temp {
    color: #fab387;
}
